<header class="main-header">
    <!-- Logo -->
    <a href="{{ url('home') }}" class="logo"><b>{{ title }}</b></a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle Navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img src="
                        {% if app.user.avatar is null %}
                            {{ asset('bundles/app/img/avatar5.png') }}
                        {% else %}
                            {{ app.user.avatar }}
                        {% endif %}
                    " class="user-image" alt="User Image"/>
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">{{ app.user.fullName | upper}}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                        <img src="
                            {% if app.user.avatar is null %}
                                {{ asset('bundles/app/img/avatar5.png') }}
                            {% else %}
                                {{ app.user.avatar }}
                            {% endif %}
                        " class="img-circle" alt="User Image" />
                        <p>
                            {{ app.user.fullName | upper}}
                            <small>{{ app.user.role | upper }}</small>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="{{ url('fos_user_profile_show') }}" class="btn btn-default btn-flat">Profil</a>
                        </div>
                        <div class="pull-right">
                            <a href="{{ url('fos_user_security_logout') }}" class="btn btn-default btn-flat">Keluar</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
      </div>
    </nav>
  </header>