{%- extends 'IhsanSimpleAdminBundle:Security:layout.html.twig' -%}

{%- block page -%}
    <body class="login-page">
        <div class="login-box">
{%- endblock -%}

{%- block content -%}
    {%- if error -%}
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">{{- 'message.error_title' | trans({}, 'IhsanSimpleAdminBundle') -}}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                {{- error.message | trans({}, 'IhsanSimpleAdminBundle') -}}
            </div>
        </div>
    {%- endif -%}
    <div class="login-logo">
        <a href="{{- url('fos_user_security_login') -}}"><b>{{- title -}}</b></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg"><b>{{- 'message.login_title' | trans({}, 'IhsanSimpleAdminBundle') -}}</b></p>
            <form action="{{- url('fos_user_security_check') -}}" method="post">
                <input type="hidden" name="_csrf_token" value="{{- csrf_token -}}" />
                <div class="form-group has-feedback">
                    <input name="_username" type="text" class="form-control" placeholder="{{- 'message.username' | trans({}, 'IhsanSimpleAdminBundle') -}}"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input name="_password" type="password" class="form-control" placeholder="{{- 'message.password' | trans({}, 'IhsanSimpleAdminBundle') -}}"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input name="_remember_me" type="checkbox"> {{- 'message.remember_me' | trans({}, 'IhsanSimpleAdminBundle') -}}
                            </label>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{- 'action.login' | trans({}, 'IhsanSimpleAdminBundle') -}}</button>
                    </div><!-- /.col -->
                </div>
            </form>
        </div>
    </div>
{%- endblock -%}

{%- block javascript -%}
    <script>
        jQuery(document).ready(function () {
            jQuery('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            });
        });
    </script>
{%- endblock -%}