{% extends 'IhsanSimpleAdminBundle::layout.html.twig' %}

{% form_theme form form_theme %}

{% block breadcrumb %}
    <li><a href="#" class="active">{{ page_title }}</a></li>
{% endblock %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block page_description %}
    {{ page_description }}
{% endblock %}

{% block menu %}
    {{ knp_menu_render(menu, { currentClass: 'active', 'allow_safe_labels': true }) }}
{% endblock %}

{% block content %}
    {% if success is defined %}
        <div class="modal modal-success success-message">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ 'message.info' | trans({}, 'IhsanSimpleAdminBundle') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ success }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">{{ 'action.close' | trans({}, 'IhsanSimpleAdminBundle') }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if errors is defined %}
        <div class="modal modal-warning error-message">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ 'message.info' | trans({}, 'IhsanSimpleAdminBundle') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ 'message.error' | trans({}, 'IhsanSimpleAdminBundle') }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">{{ 'action.close' | trans({}, 'IhsanSimpleAdminBundle') }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if current_password_invalid is defined %}
        <div class="modal modal-warning password-invalid-message">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ 'message.info' | trans({}, 'IhsanSimpleAdminBundle') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ 'message.old_password_invalid' | trans({}, 'IhsanSimpleAdminBundle') }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">{{ 'action.close' | trans({}, 'IhsanSimpleAdminBundle') }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="box box-success box-solid">
            <div class="box-header">
                <a href="{{ url('home') }}" class="btn btn-primary pull-right back-to-list">{{ 'action.back_to_home' | trans({}, 'IhsanSimpleAdminBundle') }}</a>
            </div>
            <div class="box-body">
                <form role="form" method="POST">
                    <div class="box-body with-border">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% if success is defined %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('.success-message').modal({
                    backdrop: 'static'
                });
            });
        </script>
    {% endif %}

    {% if errors is defined %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('.error-message').modal({
                    backdrop: 'static'
                });
            });
        </script>
    {% endif %}

    {% if current_password_invalid is defined %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('.password-invalid-message').modal({
                    backdrop: 'static'
                });
            });
        </script>
    {% endif %}
{% endblock %}